@media only screen and (max-width: 900px) {
    h1 {
        font-size: 3.6rem;
    }
    .header {
        height: 100%;
        margin-top: 120px;
    }
    .header .row {
        flex-direction: column;
    }
    .header .col-1 {
        padding: 20px;
    }
    .header .col-2, .header .hero-img {
        display: grid;
        place-items: center;
    }
    .header .col-2 img{
        max-width: 90%;
    }
    .circle {
        top: 5%;
        left: 35%;
        max-width: 60vw;
        max-height: 60vw;
        background: #FFF5F6;
    }
    .grid-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
    .grid-box {
        padding: 10px;
    }
    #skills {
        height: 100%;
    }
    #portfolio .title .ctn-title {
        flex-direction: column;
        text-align: left;
    }
    #portfolio .rect-bg {
        max-width: 90vw;
        top: -10px;
        left: -10%;
    }
    #contact .container {
        padding: 10px;
        padding-bottom: 20px;
    }
    #contact .container h1 {
        font-size: 2rem;
    }
    #contact .quick-links {
        flex-direction: column;
    }
    #contact .quick-links ul li {
        margin: 0 5px;
    }
    #contact .quick-links img {
        width: 50px;
    }
    #copyright p {
        font-size: 1.2rem;
    }
    .toggle-btn i {
        display: block;
    }
    .brand img {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 20px;
    }
    .navbar {
        background: #E9F9FF;
        height: 100vh;
        flex-direction: column;
        display: none;
    }
    body.dark .navbar {
        background: #282f59;
    }
    #nav-list ul {
        flex-direction: column;
    }
    #nav-list ul li {
        margin-top: 30px;
    }
    .mobile-nav {
        display: flex;
    }
    .theme {
        position: absolute;
        top: 30px;
        left: 20%;
    }

}